* {
  margin: 0;
  padding: 0;
}

.section-a-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 450px;
  background-color: rgb(245 247 249);
}

.section-a-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25.5px;
  width: 50%;
}

.section-b-header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  align-items: flex-start;
  display: flex;
  margin-top: 2.5em;
}

span {
  font-style: italic;
}

.section-b-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 350px;
  border-bottom-style: groove;
}

.section-b2-container {
  width: 85%;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.section-b2-header {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.section-b2a-container {
  width: 70%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.section-b2b-container {
  width: 35%;
  height: 100px;
}

.section-b3-container {
  width: 35%;
  height: 100px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 85px;
  height: 60px;
  border-radius: 15px;
  display: block;
  margin: 0.5rem 0;
}

.section-c-container {
  display: block;
  width: 100%;
  height: 300px;
  background-color: aliceblue;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(19 57 19);
  width: 250px;
  height: 18%;
  border-radius: 15px;
  border-style: none;
  margin-top: 30px;
  margin-left: 30px;
  color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 30px;
}
